/*
Author: Dan Cook
License - free for all.
*/

html,
body {
  background-color: #ffffff; /*#ffffff;*/
  color: #000000; /*#FFE063; */
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
a,
a:focus
a:hover {
  color: #4286f4;
}

/* MOBILE NAV */
.mobile{
  width: 100%;
  height: 50px;
  background-color: #919cad;
  position: fixed;
  z-index: 1;
}
.hamburger{
  position: relative;
  height: 100%;
}
.line{
  width: 40px;
  height: 5px;
  background-color: white;
  position: absolute;
  margin-left: 10px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}
.line1{
  top: 20%;
}
.line2{
  top: 45%;
}
.line3{
  top: 70%;
}
.hamburger:hover{
  cursor: pointer;
}
.mobile-menu{
  background-color: #919cad;
  padding-left: 10px;
  line-height: 1.0em;
}
nav a{
  text-decoration: none;
  color: #fff;
}
nav a:hover{
  color: 4286f4;
}

/* DESKTOP NAV */
.desktop{
  background-color: #919cad;
}
.desktop .wrapper{
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.brand{
  margin-right: auto ;
}
.brand h1{
  color: #fff;
}
.brand span{
  color: 4286f4;
}
.desktop-menu ul{
  display: flex;
}
.desktop-menu li{
  list-style: none;
  margin: 20px;
}
.desktop{
  display: none;
}

/* MEDIA QUERY */
@media (min-width: 600px){
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
}

/* --------------------*/
/* page specific css */
.hover_image:hover {text-decoration: none}
.hide {display:none}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}
.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

/* --------------------*/
/* --- disqus css -- */
#disqus_thread {
color: #fff;
border-style: 0px solid;
border-color: #cccccc;
padding: 100px;
}
#dsq-content #dsq-comments .dsq-comment-body {
color: #fff;
background-color: #000000;
}
.dsq-reaction-body {
color: #fff;
}
.dsq-reaction-header cite, .dsq-reaction-header span {
color: #ccc;
}
.dsq-reaction-retweets {
color: #ccc;
}
/*--- end disqus css --*/
