<footer>
    <div class="container">
        <div class="row">
            <div class = "col-"> 
				<nav>
    				<ul>
        				<li><a href="mailto:cookdj0128@gmail.com"></a>send email</li>
        				<li><a href="http://www.danjcook.com/blog/atom.xml">get rss</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript">
	<!-- JAVASCRIPT AND JQUERY --> 
    <!-- jQuery from Google  May 23 2017   -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->  
    <!-- CDN Javascript BootStrap May 14 2017  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="ie10-viewport-bug-workaround.js" rel="stylesheet">
</script>


