
<ul class="nav justify-content-center">
  <strong><li class="nav-item"><a class="nav-link" href="/">ABOUT</a></li></strong>
  <strong><li class="nav-item"><a class="nav-link" href="/cv">CV</a></li></strong>
  <strong><li class="nav-item"><a class="nav-link" href="/blog">BLOG</a></li></strong>
  <strong><li class="nav-item"><a class="nav-link" href="http://www.danjcook.com/blog/atom.xml">RSS</a></li></strong>
</ul>

<ul class="nav justify-content-center">
  <li class="nav-item"><a href = "https://github.com/dnck" target='_blank'> <i class='fa fa-github fa-2x'></i>&nbsp</a></li>
  <li class="nav-item"><a href="https://codepen.io/Cookdj0128"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i>&nbsp</a></li>
  <li class="nav-item"><a href = "https://www.researchgate.net/profile/Daniel_Cook8" target='_blank'><i class='ai ai-researchgate-square ai-2x'></i>&nbsp</a></li>
  <li class="nav-item"><a href = "https://www.linkedin.com/in/dan-cook-030ba21b/" target='_blank'><i class='fa fa-linkedin-square fa-2x' aria-hidden='true'></i>&nbsp</a>
  <li class="nav-item"><a href = "https://twitter.com/DanielJohnCook" target='_blank'> <i class='fa fa-twitter fa-2x'></i>&nbsp</a></li>
</ul>
<br>

