{% include head.html %}
{% include header.html %}
<div class='container' id='na'>
	<div class='col-sm-12 col-xs-12' id='na'>
    <div class='row' id='na'>
      <p></p>
    </div>
  </div>
  <div class='col-sm-12 col-xs-12' id='na'>
    <div class='row' id='na'>
      <a class='hover_image' href='#'>
          <img src='https://www.danjcook.com/images/me_box.png'/>
          <img  src='https://www.danjcook.com/images/me.png' class='hide' />
      </a>
		</div>
		<div class='row' id='na'>
      <p></p>
    </div>
    <div class='row' id='na'>
      <p></p>
		</div>
  </div>
  <div class='col-sm-12 col-xs-12' id='na'>
    <div class='row' id='na'>
      <p>
          <!--<a href='https://github.com/dnck'><i class='fab fa-github fa-lg'></i></a><br>-->
          https://github.com/dnck<br>
          https://www.scienceopen.com/user/dancook<br>
          https://www.researchgate.net/profile/Daniel_Cook8<br>
          https://www.linkedin.com/in/dan-cook-030ba21b/<br>
          https://twitter.com/dan_j_cook<br>
          https://github.com/dnck/dnck.github.io/raw/master/assets/personelle/DCOOK_cv.pdf<br>
      </p>
    </div>
  </div>
</div>
{% include footer.html %}
{% include closing_tags.html %}
