<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/retro.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<nav>
	    			<ul>
	        			<li><a href="mailto:cookdj0128@gmail.com">email</a></li>
	        			<li><a href="http://www.danjcook.com/blog/atom.xml">rss</a></li>
	        			<li><a href="http://packetlife.net/media/library/16/Markdown.pdf">markdown cheatsheet</a></li>
					</ul>
				</nav>
			</footer>
		</body>
	</html>